body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: #f4f4f4;
}

.container {
  background: rgb(255, 145, 2);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  width: 100%;
}

.settings label,
.settings input {
  margin: 5px 0;
}

.output {
  margin: 20px 0;
}

#password {
  width: calc(100% - 60px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 15px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background: #0026fd;
  color: white;
  cursor: pointer;
}

button:disabled {
  background: #ccc;
  cursor: not-allowed;
}
h1{
    color: #0026fd;
    background-color: #03ff03;
}
